body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('../public/background.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
  }


.main-content{
 color :white;
 display:flex;
 justify-content: center;
 align-items: center;
 
}

